.modal {
    --height: 65%;
    --border-radius: 2%;
    --width: 95%;
}

.closeButton {
    width: fit-content !important;
    align-self: flex-end;
    margin-right: 10px;
    --background: transparent;
    --color: black;
}