.button {
    width: 100%;
    max-width: 370px;
    height: 50px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.cancel {
    --background: #ef345f;
}